adf/pipeline/pl_onprem_sqldb_to_adls.json
{
	"name": "pl_onprem_sqldb_to_adls",
	"properties": {
		"activities": [
			{
				"name": "ForEach_IndependentTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_IndependentTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_IndependentTables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If_IncrementalLoad",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().load_type,'incremental')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy_FullTable",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "@concat(\n'SELECT * FROM ',\nitem().source_schema,'.',item().source_table\n)",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_sqlserver_superstore",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ds_parquet_adls_landing",
												"type": "DatasetReference",
												"parameters": {
													"table_name": {
														"value": "@item().source_table",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Fail_Copy_FullTable",
										"type": "Fail",
										"dependsOn": [
											{
												"activity": "Copy_FullTable",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"message": {
												"value": "@concat('Full load failed for table: ', item().SourceTable)",
												"type": "Expression"
											},
											"errorCode": "FullCopyFailure"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy_IncrementalTable",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "@concat(\n'SELECT * FROM ',\nitem().source_schema,'.',item().source_table,\nif(\nequals(item().source_table,'orders'),\n' WHERE date BETWEEN ''2021-01-01'' AND ''2021-03-31''',\nconcat(\n' WHERE ',\nitem().watermark_column,\n' > ''',\nitem().last_watermark_value,\n''''\n)\n)\n)",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_sqlserver_superstore",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ds_parquet_adls_landing",
												"type": "DatasetReference",
												"parameters": {
													"table_name": {
														"value": "@item().source_table",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Lookup_NewWatermark",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Copy_IncrementalTable",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "@concat(\n'SELECT MAX(',\nitem().watermark_column,\n') AS new_watermark FROM ',\nitem().source_schema,'.',item().source_table,\n' WHERE ',\nitem().watermark_column,\n' > ''',\nitem().last_watermark_value,\n''''\n)",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_sqlserver_superstore",
												"type": "DatasetReference"
											},
											"firstRowOnly": true
										}
									},
									{
										"name": "Update_Watermark",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Lookup_NewWatermark",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "ls_sql_server_onprem",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "@concat(\n'UPDATE control.ingestion_metadata ',\n'SET last_watermark_value = ''',\nstring(coalesce(activity('Lookup_NewWatermark').output.firstRow.new_watermark, item().last_watermark_value)),\n''' WHERE source_table = ''',\nitem().source_table,\n''''\n)",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Fail_Copy_IncrementalTable",
										"type": "Fail",
										"dependsOn": [
											{
												"activity": "Copy_IncrementalTable",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"message": {
												"value": "@concat('Incremental load failed for table: ', item().SourceTable)",
												"type": "Expression"
											},
											"errorCode": "IncrementalCopyFailure"
										}
									},
									{
										"name": "Fail_Update_Watermark",
										"type": "Fail",
										"dependsOn": [
											{
												"activity": "Update_Watermark",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"message": {
												"value": "@concat('Watermark update failed for table: ', item().SourceTable)",
												"type": "Expression"
											},
											"errorCode": "WatermarkUpdateFailure"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Lookup_Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT source_schema,\n       source_table,\n       load_type,\n       watermark_column,\n       parent_table,\n       last_watermark_value\nFROM control.ingestion_metadata\nWHERE is_active = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqlserver_superstore",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter_IndependentTables",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Metadata').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@empty(item().parent_table)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter_DependentTables",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ForEach_IndependentTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Metadata').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(empty(item().parent_table))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_DependentTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_DependentTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_DependentTables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Lookup_ParentWatermark",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat(\n'SELECT last_watermark_value\n FROM control.ingestion_metadata\n WHERE source_table = ''',\nitem().parent_table,\n''''\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sqlserver_superstore",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Copy_DependentTable",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup_ParentWatermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat(\n'SELECT child.* FROM ',\nitem().source_schema,'.',item().source_table,' child ',\n'INNER JOIN ',item().source_schema,'.',item().parent_table,' parent ',\n'ON child.order_id = parent.order_id ',\n'WHERE parent.date BETWEEN ''2021-01-01'' AND ''2021-03-31'''\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sqlserver_superstore",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_parquet_adls_landing",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@item().source_table",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Lookup_NewParentWatermark",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Copy_DependentTable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat(\n'SELECT MAX(date) AS new_watermark FROM ',\nitem().source_schema,'.',item().parent_table,\n' WHERE date > ''',\nactivity('Lookup_ParentWatermark').output.firstRow.last_watermark_value,\n''''\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sqlserver_superstore",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Update_DependentWatermark",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Lookup_NewParentWatermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_sql_server_onprem",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat(\n'UPDATE control.ingestion_metadata ',\n'SET last_watermark_value = ''',\nstring(\ncoalesce(\nactivity('Lookup_NewParentWatermark').output.firstRow.new_watermark,\nitem().last_watermark_value\n)\n),\n''' WHERE source_table = ''',\nitem().source_table,\n''''\n)",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Fail_Copy_DependentTable",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "Copy_DependentTable",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('Dependent table load failed for table: ', item().SourceTable)",
									"type": "Expression"
								},
								"errorCode": "DependentCopyFailure"
							}
						},
						{
							"name": "Fail_Update_Dependent",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "Update_DependentWatermark",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('Watermark update failed for table: ', item().SourceTable)",
									"type": "Expression"
								},
								"errorCode": "WatermarkUpdateFailure"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-03-12T10:27:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}